<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="WildberriesEntities" connectionString="metadata=res://*/Models.Model112431241.csdl|res://*/Models.Model112431241.ssdl|res://*/Models.Model112431241.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Wildberries;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WildberriesEntities1" connectionString="metadata=res://*/Models.Model24112.csdl|res://*/Models.Model24112.ssdl|res://*/Models.Model24112.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Wildberries;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_a790a0_gseuphoriaEntities" connectionString="metadata=res://*/Models.Model1124321412.csdl|res://*/Models.Model1124321412.ssdl|res://*/Models.Model1124321412.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5105.site4now.net;initial catalog=db_a790a0_gseuphoria;user id=db_a790a0_gseuphoria_admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>