 <!-- banner-section -->
<section class="banner-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- banner-image -->
                <div class="banner-image">
                    <figure class="ttm-figure">
                        <a href="/Catalog/"><img class="img-fluid" src="/img/banner-five.jpg" alt=""></a>
                    </figure>
                </div><!-- banner-image end -->
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- blog-section -->
<!-- multi-section end -->
    </div><!--site-main end-->
<!--footer start-->
<footer class="footer widget-footer ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey ttm-textcolor-white clearfix">
    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
    <div class="first-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 widget-area">
                    <div class="widget ttm-footer-cta-wrapper">
                        <h5>Присоединяйтесь к нашей рассылке сейчас!</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5 widget-area m-auto">
                    <div class="widget ttm-footer-cta-wrapper">
                        <form id="subscribe-form" class="newsletter-form" method="post" action="#" data-mailchimp="true">
                            <div class="mailchimp-inputbox clearfix" id="subscribe-content">
                                <p>
                                    <i class="fa fa-envelope-o"></i>
                                    <input type="email" name="email" placeholder="Введите Ваш Emaik.." required="">
                                </p>
                                <p><input type="submit" value="ПОДПИСАТЬСЯ"></p>
                            </div>
                            <div id="subscribe-msg"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="sep_holder_box">
        <span class="sep_holder"><span class="sep_line"></span></span>
    </div>
    <div class="second-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 widget-area m-auto">
                    <div class="widget">
                        <div class="footer-logo">
                            <img id="footer-logo-img" class="img-center" src="/img/footer-logo.png" alt="" style="220px">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 widget-area">
                    <div class="widget widget_text ml-40">
                        <ul class="widget_info_text">
                            <li><i class="fa fa-map-marker"></i><strong>Наш основной филиал</strong> <br> г. Волгоград</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_text">
                        <ul class="widget_info_text">
                            <li><i class="fa fa-envelope-o"></i><strong>Email</strong> <br> Info@example.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_text">
                        <ul class="widget_info_text">
                            <li><i class="fa fa-phone"></i><strong>Телефон</strong> <br> +79053300881</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sep_holder_box">
        <span class="sep_holder"><span class="sep_line"></span></span>
    </div>
    <div class="sep_holder_box">
        <span class="sep_holder"><span class="sep_line"></span></span>
    </div>
    <div class="bottom-footer-text">
        <div class="container">
            <div class="row copyright">
                <div class="col-md-12 col-lg-12 ttm-footer2-center">
                    <span>Copyright © 2021 Molotok34 by 3uph0ria</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
<!--back-to-top start-->
<a id="totop" href="#top" class="" style="display: none;">
    <i class="fa fa-angle-up"></i>
</a>
<!--back-to-top end-->
    </div><!-- page end -->
<!-- Javascript -->
<script src="/Scripts/jquery.min.js"></script>
@Scripts.Render("~/bundles/js")



</body>
</html>
